name: Allure Reports

on:
  push:
    branches:
      - main  # Replace with your branch name if needed

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Docker
        uses: docker/setup-buildx-action@v3
        with:
          docker-version: '24.0.6' 

      - name: Build and start Allure Docker Service
        run: |
          docker-compose -f path/to/docker-compose.yml up -d

      - name: Wait for Allure Docker Service to start
        run: sleep 10  # Adjust the wait time as needed

      # - name: Run your tests
      #   run: |
      #     # Replace this with the command to run your tests that generate Allure reports
      #     # Example:
      #     # npm test

      - name: Display Allure Docker Service logs
        run: docker logs -f allure-docker-service

      - name: Cleanup
        run: |
          docker-compose -f path/to/docker-compose.yml down
          # Optionally, you can delete the "allure-results" directory to avoid redundancy

      - name: Upload Allure Report Artifacts
        uses: actions/upload-artifact@v2
        with:
          name: allure-reports
          path: path/to/allure-results  # Adjust the path if necessary